[sec]
test=nnnnn

#logger.conf
###############################################
[loggers]
keys=root,ss_lf,ss_rlf
[logger_root]
level=DEBUG
handlers=stdstream
[logger_ss_lf]
handlers=stdstream,logfile
qualname=stdstream_logfile
propagate=0
[logger_ss_rlf]
handlers=stdstream,rotatinglogfile
qualname=stdstream_rotatinglogfile
propagate=0
###############################################
[handlers]
keys=stdstream,logfile,rotatinglogfile
[handler_stdstream]
class=StreamHandler
level=DEBUG
formatter=form02
args=(sys.stderr,)
[handler_logfile]
class=FileHandler
level=DEBUG
formatter=form01
args=('myapp.log', 'a')
[handler_rotatinglogfile]
class=handlers.RotatingFileHandler
level=INFO
formatter=form02
args=('myapp.log', 'a', 10*1024*1024, 5)
###############################################
[formatters]
keys=form01,form02
[formatter_form01]
format=%(asctime)s [%(levelname)s] %(message)s,
datefmt='%Y %H:%M:%S',
[formatter_form02]
format=%(asctime)s [%(levelname)s] %(message)s
datefmt=%Y %H:%M:%S
